<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://static.vecteezy.com/system/resources/previews/005/003/560/non_2x/house-logo-house-icon-house-icon-isolated-on-white-background-home-logo-vector.jpg"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Registro</h4>
                </div>

                <form [formGroup]="registroForm" (ngSubmit)="iniciarSesion()">
                  <div class="mb-3">
                    <label class="form-label"> Nombre </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nombre"
                      placeholder="Ingresa tu nombre"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Apellido </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="apellido"
                      placeholder="Ingresa tu apellido"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Identificación </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="identificacion"
                      placeholder="Ingresa tu identificación"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Celular </label>
                    <input
                      type="tel"
                      class="form-control"
                      formControlName="celular"
                      placeholder="Ingresa tu celular"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Apartamento </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="apartamento"
                      placeholder="Ingresa tu apartamento"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Correo </label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="correo"
                      placeholder="Ingresa tu correo"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Contraseña </label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      placeholder="Ingresa tu contraseña"
                    />
                  </div>

                  <div class="text-center pt-4 mb-5 pb-1 d-flex flex-column">
                    <button class="btn btn-primary btn-lg" type="submit">
                      Registrarse
                    </button>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="redirectIniciarSesion()"
                    >
                      Inicia sesión
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
