@if (servicios.length > 0){
<form [formGroup]="crearReservaForm" (ngSubmit)="crearReserva()">
  <h1 class="mb-5">Crear reserva</h1>

  <div class="mb-3">
    <label class="form-label"> Servicio </label>
    <select class="form-select" formControlName="servicio">
      @for (servicio of servicios; track $index) {
      <option [value]="servicio._id">{{ servicio.nombre }}</option>
      }
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label"> Hora </label>
    <input type="time" class="form-control" formControlName="hora" />
  </div>

  <div class="mb-3">
    <label class="form-label"> Comentarios </label>
    <input type="text" class="form-control" formControlName="comentarios" />
  </div>

  <button class="btn btn-primary mt-3" type="submit">Reservar</button>
</form>
}
