<table class="table">
  <thead>
    <tr>
      @for (columna of columnas; track $index) {
      <th scope="col">{{ columna }}</th>
      } @if (mostrarAcciones) {
      <th>Acciones</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (elemento of lista; track $index) {
    <tr scope="col">
      @for (columna of columnas; track $index) {
      <td>{{ elemento[columna.toLocaleLowerCase()] }}</td>
      } @if (mostrarAcciones) {
      <td>
        <button
          type="button"
          class="btn btn-info mx-2"
          (click)="editar(elemento)"
        >
          Editar
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="eliminar(elemento)"
        >
          Eliminar
        </button>
      </td>
      }
    </tr>
    }
  </tbody>
</table>
