<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://static.vecteezy.com/system/resources/previews/005/003/560/non_2x/house-logo-house-icon-house-icon-isolated-on-white-background-home-logo-vector.jpg"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Residentes App</h4>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
                  <div class="mb-3">
                    <label class="form-label"> Correo </label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="correo"
                      placeholder="Ingresa tu correo electrónico"
                    />

                    @if (!!islogin && formlogin['correo'].hasError('required')){
                    <small class="text-danger">
                      El correo electrónico es requerido
                    </small>
                    }
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Contraseña </label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="contrasena"
                      placeholder="Ingresa tu correo contraseña"
                    />

                    @if (!!islogin &&
                    formlogin['contrasena'].hasError('minlength')){
                    <small class="text-danger">
                      La longitud de la contraseña es obligatoria debe ser mayor
                      a 3 caracteres
                    </small>
                    }
                  </div>

                  <div class="text-center pt-4 mb-5 pb-1 d-flex flex-column">
                    <button class="btn btn-primary btn-lg" type="submit">
                      Iniciar Sesión
                    </button>

                    <a class="text-muted mt-2" href="#!"
                      >Olvidaste tu contraseña?</a
                    >
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">No tienes una cuenta?</p>
                    <button type="button" class="btn btn-outline-primary">
                      Registrarte
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
