<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-light"
  style="width: 280px; height: 100%"
>
  <a
    [routerLink]="'/home'"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <i class="fa-solid fa-circle-user mx-2"></i>
    <span class="fs-4">Admin Residentes</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    @for (menu of menuItems; track $index) {
    <li class="nav-item">
      <a
        [routerLink]="menu.path"
        routerLinkActive="active"
        class="nav-link"
        aria-current="page"
      >
        <i [class]="menu.icon" class="mx-2"></i>
        {{ menu.title }}
      </a>
    </li>
    }
  </ul>

  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Camilo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" href="#">Configuraciones</a></li>
      <li><a class="dropdown-item" href="#">Perfil</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</div>
