<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">¡Bienvenido(a) {{ nombreUsuario }}!</h1>

  <p class="fs-5 text-muted">
    Simplifica y optimiza la gestión de tus reservas con nuestra innovadora
    plataforma. Diseñada para brindarte una experiencia intuitiva y eficiente,
    nuestra aplicación te permite manejar todas tus reservas de manera rápida y
    sencilla.
  </p>

  <p class="fs-5 text-muted text-left pt-4">
    <b>Características principales</b>
  </p>

  <p class="fs-5 text-muted text-left">
    <b>Gestión Centralizada</b>: Administra todas tus reservas en un solo lugar.
  </p>
  <p class="fs-5 text-muted text-left">
    <b>Interfaz Intuitiva</b>: Fácil de usar para que ahorres tiempo y esfuerzo.
  </p>

  <p class="fs-5 text-muted pt-4">
    Si necesitas ayuda o tienes alguna pregunta, nuestro equipo de soporte está
    siempre disponible para asistirte.
  </p>

  <p class="fs-5 text-muted">¡Gracias por elegirnos!</p>
</div>
