/* You can add global styles to this file, and also import other style files */

body {
    height: 100vh;
}

.listado-header-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}